body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0d0d0d;
  color: #fff;
  margin: 0;
  height: 100vh;
}

h1 { margin: 20px 0 10px 0; color: #ff8a00; text-align:center; }
p { margin:5px 0 15px 0; text-align:center; }

canvas {
  background: #111;
  border: 4px solid #ff8a00;
  border-radius: 12px;
  display: block;
  margin: 0 auto;
}

.score {
  margin-top: 15px;
  font-size: 1.2rem;
  text-align:center;
}
